name: Docker Build -> Push -> Deploy

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"

      - name: Give permission to mvnw
        run: chmod +x mvnw

      - name: Build JAR
        run: ./mvnw clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: docker build -t $DOCKERHUB_USERNAME/spring-boot-ci-demo:latest .

      - name: Push Image
        run: docker push $DOCKERHUB_USERNAME/spring-boot-ci-demo:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          envs: DOCKERHUB_USERNAME   
          script: |
            docker stop spring-demo || true
            docker rm spring-demo || true
            docker pull $DOCKERHUB_USERNAME/spring-boot-ci-demo:latest
            docker run -d -p 8080:8080 --name spring-demo $DOCKERHUB_USERNAME/spring-boot-ci-demo:latest
